.container {
    max-width: none !important;
    background-image: url(https://avatars.mds.yandex.net/i?id=aef7a676969be0fe7477a50d5874b423_l-12615441-images-thumbs&n=13);
    background-position: center 0;
}
