.container {
    max-width: none !important;
    background-img: url(https://get.wallhere.com/photo/anime-digital-art-Bondrewd-Made-in-Abyss-Made-in-Abyss-science-fiction-ultrawide-2268036.jpg);
    background-position: center 0;
}
